
<form name="subscribeForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="subscribe-form"
  class="subscribe-form" action="https://refref.us1.list-manage.com/subscribe/post?u=3ca0d35ca85532993ee23371c&amp;id=b73c1dc67a" novalidate target="_blank">
  <div class="screen-reader-text">
    <label>Don't fill this out if you're human: <input name="bot-field" /></label>
  </div>
  <div class="form-row">
    <label>
      <span class="screen-reader-text">Email address</span>
      <input class="subscribe-email" type="email" name="EMAIL" placeholder="Enter Email Address...">
    </label>
  </div>
  <input type="hidden" name="form-name" value="subscribeForm" />
  <button class="button" type="submit">Subscribe</button>
</form><!-- .subscribe-form -->
